@using FirstEntityFrameworkCore.DAC.Entities
@model List<Lessons>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"></h1>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a type="button" href=@Url.Action("exportMain","ExportPDF") class="btn btn-sm btn-outline-dark">Dışarı Aktar</a>
        </div>
    </div>
</div>

<h3 class="mt-4 mb-3">Mevcut Eğitmenlerin Verdikleri Dersler:</h3>

<div class="table-responsive">
    <table class="table  col-sm-10">

        <thead>
            <tr>
                <th>#</th>
                <th>Eğitmen Adı</th>
                <th>Eğitmen Soyadı</th>
                <th>Branşı</th>
                <th>Dersi</th>
            </tr>
        </thead>
        <tbody>


            @if (Model.Count != 0)
            {
                int count = 0;

                @for (int i = 0; i < Model.Count; i++)
                {
                    if (Model[i].teacher != null)
                    {
                        <tr>
                            <td>@(++count)</td>
                            <td>
                                @Model[i].ownerTeacherName
                            </td>
                            <td>
                                @Model[i].ownerTeacherSurname
                            </td>
                            <td>
                               @Model[i].ownerBranch
                            </td>
                            <td>
                                @Model[i].name
                            </td>

                        </tr>
                    }

                }

            }
            else
            {
                <tr>
                    <td>Gösterilecek Herhangi Bir Bilgi Mevcut Değil!</td>
                </tr>
            }

        </tbody>
    </table>
</div>